@using Spice.Utility
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Spice</title>

    <environment include="Development">
        <script src="https://cdn.tiny.cloud/1/g30zhcnew7d9qgmi141gr568qvfa8jb1emaeh0ogz9a0cd7c/tinymce/5/tinymce.min.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.tiny.cloud/1/g30zhcnew7d9qgmi141gr568qvfa8jb1emaeh0ogz9a0cd7c/tinymce/5/tinymce.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body class="search-background">
    <nav class="navbar navbar-inverse navbar-fixed-top"> 
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                    
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Spice</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown text-white-50">
                        <a class="navbar-link dropdown-toggle" href="#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Content management
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-action="Index" asp-controller="Category" asp-area="Admin">Category</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="SubCategory" asp-area="Admin">Sub Category</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="MenuItem" asp-area="Admin">Menu Item</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="Coupon" asp-area="Admin">Coupons</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Admin">Users</a>

                        </div>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>

                    @if (HttpContextAccessor.HttpContext.Session.GetInt32(@SD.ssShoppingCartCount) != null)
                    {
                        <li style="color:white">
                            <a href="#" class="nav-link">
                                @{
                                    var count = HttpContextAccessor.HttpContext.Session.GetInt32(@SD.ssShoppingCartCount);
                                }
                                <i class="fas fa-shopping-cart"></i> &nbsp; (@count)
                            </a>
                        </li>
                    }
                    else
                    {


                        <li style="color:white">
                            <a href="#" class="nav-link">
                                <i class="fas fa-shopping-cart"></i> &nbsp; (0)
                            </a>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
      </div>

        <footer class="border-top modal-footer text-white-50" style="background-color: #808080">
            <div class="container">
            <p>&copy; 2019 - Spice</p>
                </div>
        </footer>
   

    
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
